* {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.app {
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-size: 1.5em;
}

.bg {
  background: url("../assets/img/campfire.jpg") no-repeat center fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0em;
  left: 0em;
  z-index: -99;
  transition: background 0.2s ease;
}

.bg.soundStop {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.main {
  position: relative;
}

.main h3 {
  position: relative;
  top: 50vh;
  color: #FFF;
}

.toolbarbox {
  position: fixed;
  width: 5em;
  height: 100vh;
  background: rgba(190, 242, 235, 0.3);
  top: 0em;
  right: -100vw;
  transition: all 0.2s ease;
  z-index: 99;
}

.toolbarbox .toolbar {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  overflow: hidden;
}

.toolbarbox .toolbar div {
  margin: 5px 0px;
  background: #BEF2EB;
  width: 100%;
  padding: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
}

.toolbarbox .toolbar div:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.toolbarbox.open {
  right: 0;
}

.menu-overLay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0em;
  left: 0em;
  display: none;
  opacity: 0;
  transition: all 0.2s ease;
}

.menu-overLay.open {
  display: block;
  opacity: 1;
}

.icon {
  position: fixed;
  bottom: 1em;
  right: 1em;
  background: #6DC995;
  padding: 0.5em;
  border-radius: 50%;
  box-shadow: 1px 2px 5px rgba(255, 255, 255, 0.6);
  transition: all 0.2s ease;
}

.icon:active {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.icon.time {
  margin-bottom: 3em;
}

.icon.time.set {
  background: #c9741b;
}

.icon.setting {
  margin-bottom: 6em;
}

.icon.package {
  margin-bottom: 6em;
}

.updateNotif {
  background: #6DC995;
  color: #FFF;
  padding: 0.5em;
  position: fixed;
  width: 100vw;
  top: 0em;
  left: 0em;
  z-index: 999;
}

.setTime {
  background: #6DC995;
  width: 10em;
  height: auto;
  padding: 1em;
  position: relative;
  margin: 50% auto;
  color: #FFF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.setTime.open {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.setTime input {
  outline: none;
  background: none;
  border: none;
  border-bottom: 2px solid black;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.setTime .ok {
  position: relative;
  background: rgba(224, 224, 224, 0.7);
  margin: 0.5em 0em;
  display: inline-block;
  padding: 0.5em 1em;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease;
}

.setTime .ok:active {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.settings {
  width: 100vw;
  height: 90vh;
  background: #6DC995;
  position: fixed;
  color: #FFF;
  top: 0em;
  left: 0em;
  transition: all 0.2s ease;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.settings.open {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.settings input {
  background: none;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.settings a {
  margin-top: 1em;
  display: block;
  background: #CCC;
  padding: 0.3em 1em;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease;
}

.settings a:active {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.sleepNotif {
  background: url("../lib/assets/nightBG.svg") no-repeat center;
  color: #FFF;
  padding: 3em 0.5em;
  position: fixed;
  width: 100vw;
  top: 0em;
  left: 0em;
  background-size: cover;
}

.swspackage {
  background: #6DC995;
  width: 100vw;
  height: 90vh;
  top: 0em;
  left: 0em;
  transition: all 0.2s ease;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  position: fixed;
  text-align: center;
}

.swspackage.open {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.swspackage .title {
  color: #FFF;
  font-size: 2em;
}

.swspackage .image {
  width: 10em;
  height: 10em;
}

.swspackage .add {
  border: 2px #FFF solid;
  width: 100vw;
  font-family: sans-serif;
  text-transform: uppercase;
  display: block;
  top: 0em;
  left: 0em;
}
