.swspackage {
  background: red;
  width: 100vw;
  height: 90vh;
  top: 0em;
  left: 0em;
  transition: all 0.2s ease;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  position: fixed;
  text-align: center;
}

.swspackage.open {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  overflow-y: scroll;
}

.swspackage .title {
  color: #FFF;
  font-size: 2em;
}

.swspackage .image {
  width: 10em;
  height: 10em;
}

.swspackage .add {
  border: 2px #FFF solid;
  width: 100vw;
  font-family: sans-serif;
  text-transform: uppercase;
  display: block;
  top: 0em;
  left: 0em;
}
